<script setup lang="ts">
import type {PropType}from "vue";
const props = defineProps({
    todo: {type: Object as PropType<{id:number, text: string}>,required: true},

});
</script>

<template>
    <li>{{todo.text}}</li>
</template>