<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HellowWorldExample from "./components/HellowWorldExample.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBlindings from "./components/AttributeBlindings.vue";
import ConditionsAndLoop from "./components/ConditionsAndLoop.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent>
    <br/><br/>
    <FormBinding></FormBinding>
    <br/><br/>
    <ConditionsAndLoop></ConditionsAndLoop>
  <br/>
  <br/>
    <AttributeBlindings></AttributeBlindings>
    <HandingUserInput></HandingUserInput>
    <CalComponent></CalComponent>
    <HellowWorldExample></HellowWorldExample>
  </div>
</template>

<style scoped>
</style>
